@model WardrobeMVC2.Models.Accessory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accessory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Html.DisplayFor(model => model.AccessoryPhoto)" />
        </dd>

        <dd>
            Name: @Html.DisplayFor(model => model.AccessoryName)
        </dd>

        <dd>
            Type: @Html.DisplayFor(model => model.AccessoryType.TypeName)
        </dd>

        <dd>
            Color: @Html.DisplayFor(model => model.AccessoryColor)
        </dd>

        <dd>
            Season: @Html.DisplayFor(model => model.AccessorySeason)
        </dd>

        <dd>
            Occassion: @Html.DisplayFor(model => model.AccessoryOccasion)
        </dd>
  

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccessoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
