@model IEnumerable<WardrobeMVC2.Models.Accessory>

@{
    ViewBag.Title = "Index";
}

<h2>Paiges Accessories ~</h2>

@foreach (var item in Model)
{
    <div class="col-md-4" style="border:dotted;">
        <h3>
            @Html.DisplayFor(modelItem => item.AccessoryName)
        </h3>
        <h3>
            Type: @Html.DisplayFor(modelItem => item.AccessoryType.TypeName)
        </h3>
        <h3>
            Color: @Html.DisplayFor(modelItem => item.AccessoryColor)
        </h3>
        <h3>
            Season: @Html.DisplayFor(modelItem => item.AccessorySeason)
        </h3>
        <h3>
            Occasion: @Html.DisplayFor(modelItem => item.AccessoryOccasion)
        </h3>
        <h4>
            @Html.ActionLink("Details", "Details", new { id = item.AccessoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AccessoryID })
        </h4>
    </div>
}


