<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header" style="font-family: 'Zilla Slab Highlight', cursive;">
                <a class="navbar-brand" href="#">Paige's Wardrobe</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @*First drop down*@
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Create New
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Top Type", "Create", "TopTypes")</li>
                        <li>@Html.ActionLink("Bottom Type", "Create", "BottomTypes")</li>
                        <li>@Html.ActionLink("Shoe Type", "Create", "ShoeTypes")</li>
                        <li>@Html.ActionLink("Accessory Type", "Create", "AccessoryTypes")</li>
                    </ul>
                @*Second drop down*@
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Add New
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Top", "Create", "Tops")</li>
                        <li>@Html.ActionLink("Bottom", "Create", "Bottoms")</li>
                        <li>@Html.ActionLink("Shoes", "Create", "Shoes")</li>
                        <li>@Html.ActionLink("Accessories", "Create", "Accessories")</li> 
                    </ul>
                @*Navbar menu*@
                </li>
                <li>@Html.ActionLink("Tops", "Index", "Tops")</li>
                <li>@Html.ActionLink("Bottoms", "Index", "Bottoms")</li>
                <li>@Html.ActionLink("Shoes", "Index", "Shoes")</li> 
                <li>@Html.ActionLink("Accessories", "Index", "Accessories")</li> 
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
