@model WardrobeMVC2.Models.Bottom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bottom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Html.DisplayFor(model => model.BottomPhoto)" /> 
        </dd>

        <dd>
            Name: @Html.DisplayFor(model => model.BottomName)
        </dd>

        <dd>
            Type: @Html.DisplayFor(model => model.BottomType.TypeName)
        </dd>

        <dd>
            Color: @Html.DisplayFor(model => model.BottomColor)
        </dd>

        <dd>
            Season: @Html.DisplayFor(model => model.BottomSeason)
        </dd>

        <dd>
            Occassion: @Html.DisplayFor(model => model.BottomOccasion)
        </dd>

        @*Took out all <dt> so it wasnt super ugly*@

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
