@model IEnumerable<WardrobeMVC2.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<h2>Paiges Bottoms ~</h2>

@foreach (var item in Model) {
    <div class="col-md-4" style="border:dotted;">
        <h3>
            @Html.DisplayFor(modelItem => item.BottomName)
        </h3>
        <h3>
            Type: @Html.DisplayFor(modelItem => item.BottomType.TypeName)
        </h3>
        <h3>
            Color: @Html.DisplayFor(modelItem => item.BottomColor)
        </h3>
        <h3>
            Season: @Html.DisplayFor(modelItem => item.BottomSeason)
        </h3>
        <h3>
            Occassion: @Html.DisplayFor(modelItem => item.BottomOccasion)
        </h3>    
        <h4>
            @Html.ActionLink("Details", "Details", new { id=item.BottomID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BottomID })
        </h4>
    </div>
}

