@model WardrobeMVC2.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Top</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            <img src="@Html.DisplayFor(model => model.TopPhoto)" /> @*WHY WONT MY PICTURES WORK I HAVE NO IDEA!!!!!!!!!*@
        </dd>

        <dd>
            Name: @Html.DisplayFor(model => model.TopName)
        </dd>  

        <dd>
            Type: @Html.DisplayFor(model => model.TopType.TypeName)
        </dd>   

        <dd>
            Color: @Html.DisplayFor(model => model.TopColor)
        </dd>

        <dd>
            Season: @Html.DisplayFor(model => model.TopSeason)
        </dd>

        <dd>
            Occassion: @Html.DisplayFor(model => model.TopOccasion)
        </dd>

     

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
