@model IEnumerable<WardrobeMVC2.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h2>Paiges Shirts ~</h2>
@*Changed all of this to DIV so that i could have columns and took out the first table so the TOPNAME..etc. wont show*@
@foreach (var item in Model)
{
    <div class="col-md-4" style="border:dotted;">
        <h3>
            @Html.DisplayFor(modelItem => item.TopName)
        </h3>
        <h3>
            Type: @Html.DisplayFor(modelItem => item.TopType.TypeName)
        </h3>
        <h3>
            Color: @Html.DisplayFor(modelItem => item.TopColor)
        </h3>
        <h3>
            Season: @Html.DisplayFor(modelItem => item.TopSeason)
        </h3>
        <h3>
            Occasion: @Html.DisplayFor(modelItem => item.TopOccasion)
        </h3>
        <h4>
            @Html.ActionLink("Details", "Details", new { id = item.TopID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TopID })
        </h4>
    </div>
}

