@model WardrobeMVC2.Models.Sho

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Html.DisplayFor(model => model.ShoePhoto)" />
        </dd>

        <dd>
            Name: @Html.DisplayFor(model => model.ShoeName)
        </dd>

        <dd>
            Type: @Html.DisplayFor(model => model.ShoeType.TypeName)
        </dd>

        <dd>
            Color: @Html.DisplayFor(model => model.ShoeColor)
        </dd>

        <dd>
            Season: @Html.DisplayFor(model => model.ShoeSeason)
        </dd>

        <dd>
            Occassion: @Html.DisplayFor(model => model.ShoeOccasion)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
