@model IEnumerable<WardrobeMVC2.Models.Sho>

@{
    ViewBag.Title = "Index";
}

<h2>Paiges Shoes ~</h2>

@foreach (var item in Model)
{
    <div class="col-md-4" style="border:dotted;">
        <h3>
            @Html.DisplayFor(modelItem => item.ShoeName)
        </h3>
        <h3>
            Type: @Html.DisplayFor(modelItem => item.ShoeType.TypeName)
        </h3>
        <h3>
            Color: @Html.DisplayFor(modelItem => item.ShoeColor)
        </h3>
        <h3>
            Season: @Html.DisplayFor(modelItem => item.ShoeSeason)
        </h3>
        <h3>
            Occassion: @Html.DisplayFor(modelItem => item.ShoeOccasion)
        </h3>
        <h4>
            @Html.ActionLink("Details", "Details", new { id = item.ShoeID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ShoeID })
        </h4>
    </div>
}

